
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<center>
    <h2>AboutUs</h2>
</center>
<p>
    <h4><font face="Edwardian Script ITC"></font>We're a company of builders. It's our job to make bold bets, and we get our energy from inventing on behalf of customers.</h4>
</p>